<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>




    <ul>


        <!-- A -->

        <!-- B -->

        <!-- C -->

        <!-- D -->

        <!-- E -->

        <!-- F -->
        <li>
            <a href="{{ path('furtakm_rectangle_show_form') }}">
                Rectangle Area by furtakm
            </a>
        </li>
        <li>
            <a href="{{ path('furtakm_volume_show_form') }}">
                Cuboid Volume by furtakm
            </a>
        </li>
        <!-- G -->

        <li>
            <a href="{{ path('gajdaw_kalkulator_show_form') }}">
                Kalkulator by gajdaw
            </a>
        </li>

        <li>
            <a href="{{ path('gajdaw_convert_show_form') }}">
                Duże na małe by gajdaw
            </a>
        </li>

        <!-- H -->

        <!-- I -->

        <!-- J -->

        <!-- K -->
        <li>
            <a href="{{ path('krzysztof90_kalkulator_show_form') }}">
                Kalkulator by krzysztof90
            </a>
        </li>
        <li>
            <a href="{{ path('krzysztof90_square_show_form') }}">
                Pole kwadratu by krzysztof90
            </a>
        </li>
        <li>
            <a href="{{ path('krzysztof90_prostop_show_form') }}">
                Objętość prostopadłościanu by krzysztof90
            </a>
        </li>
        <!-- L -->

        <!-- M -->
        
          <li>
            <a href="{{ path('annabiala94_polekwadratu_show_form') }}">
                Pole kwadratu by annabiala94
            </a>
          </li>

        <!-- N -->

        <!-- O -->
        <li>
            <a href="{{ path('kustra88_objetoscp_show_form') }}">
                Objętość prostopadłościanu by kustra88
            </a>
        </li>
        <!-- P -->
        <li>
            <a href="{{ path('kustra88_polekwadratu_show_form') }}">
                Pole kwadratu by kustra88
            </a>
        </li>
        <!-- Q -->

        <!-- R -->
        <li>
            <a href="{{ path('rafalnav_kalkulator_show_form') }}">
                Kalkulator by RafalNav
            </a>
        </li>
        <!-- S -->

        <!-- T -->

        <!-- U -->

        <!-- V -->

        <!-- W -->
        
           <li>
            <a href="{{ path('annabiala94_prostopadloscian_show_form') }}">
                Prostopadłościan by annabiala94
            </a>
           </li>

        <!-- X -->

        <!-- Y -->

        <!-- Z -->


        
        
        
        
        
            <li>
            <a href="{{ path('kzolnierz_polekwadratu_show_form') }}">
                Pole kwadratu by kzolnierz
            </a>
            </li>
            </ul>


    {% block body %}{% endblock %}

    <footer>Version: 2.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
