<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>




    <ul>


        <!-- A -->
         <li>
                <a href="{{ path('pawlo_polekwadratu_show_form') }}">
                Pole kwadratu by pawlo</a>
        </li>

        <!-- B -->

        <li>
            <a href="{{ path('bartuuus_square_show_form') }}">
                Pole kwadratu by bartuuus
            </a>
        </li>

        <li>
            <a href="{{ path('LukaszB012_polekwadratu_show_form') }}">
                Pole kwadratu by LukaszB012
            </a>
         </li>
         <li>
            <a href="{{ path('LukaszB012_prostopadloscian_show_form') }}">
                Prostopadłościan by LukaszB012
            </a>
         </li>
        <!-- C -->

        <!-- D -->
         <li>
            <a href="{{ path('Konradha9_polekwadratu_show_form') }}">
                Pole kwadratu by Konradha9
            </a>
          </li>
        <!-- E -->
          <li>
            <a href="{{ path('palina888_polekwadratu_show_form') }}">
                Pole kwadratu by palina888
            </a>
          </li>
          <li>
            <a href="{{ path('kamilstrzelecki_square_show_form') }}">
                Pole kwadratu by kamilstrzelecki
            </a>
          </li>
  
          <li>
            <a href="{{ path('shuwax_objprosto_show_form') }}">
                Objetosc prostopadloscianu by shuwax
            </a>
          </li>
          
        <!-- F -->
        <li>
            <a href="{{ path('furtakm_rectangle_show_form') }}">
                Rectangle Area by furtakm
            </a>
        </li>
        <li>
            <a href="{{ path('furtakm_volume_show_form') }}">
                Cuboid Volume by furtakm
            </a>
        </li>
        <!-- G -->

        <li>
            <a href="{{ path('gajdaw_kalkulator_show_form') }}">
                Kalkulator by gajdaw
            </a>
        </li>

        <li>
            <a href="{{ path('gajdaw_convert_show_form') }}">
                Duże na małe by gajdaw
            </a>
        </li>

        <!-- H -->
        <li>
            <a href="{{ path('pawkrzo_polekwadratu_show_form') }}">
                Pole kwadratu by pawkrzo
            </a>
        </li>

        <!-- I -->
        <li>
            <a href="{{ path('mmajewski1313_kwadrat_show_form') }}">
                Pole kwadratu by mmajewski1313
            </a>
        </li>
        <li>
            <a href="{{ path('jwasik_kalkulator_show_form') }}">
                Kalkulator by jwasik
            </a>
        </li>
        <!-- J -->
        <li>
            <a href="{{ path('jwasik_square_show_form') }}">
                Pole kwadratu by jwasik
            </a>
        </li>
        <li>
            <a href="{{ path('gosialeszczuk_pole_show_form') }}">
                Pole by gosialeszczuk
            </a>
        </li>

        <!-- K -->
        <li>
            <a href="{{ path('krzysztof90_kalkulator_show_form') }}">
                Kalkulator by krzysztof90
            </a>
        </li>
        <li>
            <a href="{{ path('krzysztof90_square_show_form') }}">
                Pole kwadratu by krzysztof90
            </a>
        </li>
        <li>
            <a href="{{ path('krzysztof90_prostop_show_form') }}">
                Objętość prostopadłościanu by krzysztof90
            </a>
        </li>

        <li>
            <a href="{{ path('bartuuus_cuboid_show_form') }}">
                Objetość prostopadłościanu by bartuuus
            </a>
        </li>

        <li>
            <a href="{{ path('kustra88_kalkulator_show_form') }}">
                Kalkulator by kustra88
            </a>
        </li>
        <li>
            <a href="{{ path('kustra88_polekwadratu_show_form') }}">
                Pole kwadratu by kustra88
            </a>
        </li>
        <li>
            <a href="{{ path('kustra88_converta_show_form') }}">
                Duże na małe by kustra88
            </a>
        </li>
        <li>
            <a href="{{ path('kustra88_convertb_show_form') }}">
                Każde słowo z dużej litery by kustra88
            </a>
        </li>
        <li>
            <a href="{{ path('kustra88_convertc_show_form') }}">
                Małe na duże by kustra88
            </a>
        </li>
        <li>
            <a href="{{ path('kustra88_objetoscp_show_form') }}">
                Objętość prostopadłościanu by kustra88
            </a>
        </li>
        <li>
            <a href="{{ path('choopak2_kalkulator_show_form') }}">
                Kalkulator by choopak2
            </a>
        </li>
        <!-- L -->
        <li>

            <a href="{{ path('szwej0Prostopadloscian_show_form') }}">
                Pole prostopadloscianu by szwej0
            </a>
        </li>
        <!-- M -->
        
        <li>
            <a href="{{ path('mrskowron_square_show_form') }}">
                Pole kwadratu by mrskowron
            </a>
        </li>
        
          <li>
            <a href="{{ path('annabiala94_polekwadratu_show_form') }}">
                Pole kwadratu by annabiala94
            </a>
          </li>
          
            <li>
            <a href="{{ path('annabiala94_kalkulator_show_form') }}">
                Kalkulator by annabiala94
            </a>
            </li>

        <!-- N -->

         <li>
            <a href="{{ path('majdan_kalkulator_show_form') }}">
                 Kalkulator by majdan
            </a>
        </li>
         <li>
            <a href="{{ path('majdan_convert_show_form') }}">
                 Małe na duże by majdan
            </a>
        </li>
         <li>
            <a href="{{ path('majdan_dzielenie_show_form') }}">
                 Dzielenie by majdan
            </a>
        </li>
         <li>
            <a href="{{ path('majdan_odejmowanie_show_form') }}">
                 Odejmowanie by majdan
            </a>
        </li>
        <!-- O -->
        <li>
        <a href="{{ path('szwej0_polekwadratu_show_form') }}">
            Pole Kwadratu by szwej0
        </a>
        </li>

        <!-- P -->

        <!-- Q -->
         <li>
            <a href="{{ path('kamajo5_mnozenie1_show_form') }}">
                mnozenie by kamajo5
            </a>
        </li>
        <!-- R -->
        <li>
            <a href="{{ path('rafalnav_kalkulator_show_form') }}">
                Kalkulator by RafalNav
            </a>
        </li>
        <li>
            <a href="{{ path('rafalnav_poletrojkata_show_form') }}">
                Pole trojkata by RafalNav
            </a>
        </li>
        <!-- S -->
        <li>
+            <a href="{{ path('MateuszCharkot_kalkulator_show_form') }}">
+                Kalkulator by MateuszCharkot
+            </a>
+        </li>

        <!-- T -->
        
          <li>
            <a href="{{ path('annabiala94_mnozenie_show_form') }}">
                Mnożenie by annabiala94
            </a>
          </li>
          
            <li>
            <a href="{{ path('annabiala94_duzenamale_show_form') }}">
                Duże na małe by annabiala94
            </a>
          </li>
          
            <li>
            <a href="{{ path('annabiala94_malenaduze_show_form') }}">
                Małe na duże by annabiala94
            </a>
          </li>
          
            <li>
            <a href="{{ path('annabiala94_kazdezduzej_show_form') }}">
                Każde z dużej by annabiala94
            </a>
          </li>

        <!-- U -->
        
          <li>
            <a href="{{ path('annabiala94_odejmowanie_show_form') }}">
                Odejmowanie by annabiala94
            </a>
          </li>

        <!-- V -->
            <li>
            <a href="{{ path('vincenti_kalkulator_show_form') }}">
                Kalkulator by vincenti
            </a>
        </li>

        <!-- W -->
        
           <li>
            <a href="{{ path('annabiala94_prostopadloscian_show_form') }}">
                Prostopadłościan by annabiala94
            </a>
           </li>

        <!-- X -->
         <li>
            <a href="{{ path('palina888_prostopadloscian_show_form') }}">
                Prostopadloscian by palina888
            </a>
           </li>
        <li>
            <a href="{{ path('kamilstrzelecki_cuboid_show_form') }}">
                Objetość prostopoałościanu by kamilstrzelecki
            </a>
        </li>

        <!-- Y -->
        <li>
            <a href="{{ path('Konradha9_prostopadloscian_show_form') }}">
                Prostopadłościan by Konradha9
            </a>
           </li>
        <!-- Z -->
            
        <li>
+            <a href="{{ path('kzolnierz_objprostopadloscianu_show_form') }}">
+                Objetosc prostopadloscianu by kzolnierz
+            </a>
+        </li>


        
        
        
        
        
            <li>
            <a href="{{ path('kzolnierz_polekwadratu_show_form') }}">
                Pole kwadratu by kzolnierz
            </a>
            </li>
            </ul>


    {% block body %}{% endblock %}

    <footer>Version: 3.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
